@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

@import "tailwindcss";

.oh-my-source-code-pro> {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html {
    font-family: "Source Code Pro", ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", monospace;
  }
}